.skills {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 16px;
  &-heading {
    display: flex;
    justify-content: space-between;
    padding-left: 46%;
    align-items: center;
  }
  &-max-ranks {
    display: flex;
    width: 8rem;
    justify-content: space-between;
  }
  &-row {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    &:hover {
      background-color: rgba(0, 0, 0, 0.39);
    }
  }
  &-name {
    width: 10rem;
    text-transform: capitalize;
    margin-top: 0.5rem;
  }
  &-ability,
  &-mod,
  &-ability-mod,
  &-ranks,
  &-misc,
  input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    border: 1px solid black;
    text-align: center;
    height: 1.5rem;
  }
  &-mod {
    background-color: black;
    color: white;
  }
  input {
    border: none;
    background-color: transparent;
    width: 2.9rem;
    padding-left: 1rem;
    font-size: 16px;
  }
  &-labels {
    background-color: black;
    color: white;
    margin-bottom: 1rem;
    align-items: center;
    height: 3rem;
    padding-left: 0.2rem;
  }
}

.red {
  color: red;
}
