.abilities-speed {
  &-container {
    height: 100px;
    width: 100px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-background {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    height: 95%;
    width: 95%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &-name {
    font-size: 12px;
    text-transform: uppercase;
  }
  &-main {
    font-size: 25px;
    margin-left: 10px;
  }
}
