.btn-submit {
  width: 20%;
  height: 40px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
}
.btn-nobtn {
  background-color: transparent;
  border: none;
  padding: 0;
}
