.btn-submit {
  width: 20%;
  height: 40px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
}
.btn-nobtn {
  background-color: transparent;
  border: none;
  padding: 0;
}
.btn-heal {
  border: 2px solid green;
  width: 100%;
}
.btn-damage {
  border: 2px solid red;
  width: 100%;
}
.btn-reset {
  border: 2px solid gray;
  width: 80px;
}
.btn-dropdown {
  height: 30px;
  width: 30px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.btn-tools {
  background-color: black;
  color: white;
  border: none;
  margin-right: 10px;
  height: 30px;
  border-radius: 5px;
  width: 100px;
}
.btn-link {
  background-color: transparent;
  cursor: pointer;
  color: white;
  border: none;
  margin-right: 30px;
  &:hover {
    color: red;
  }
}
