.btn-submit {
  width: 20%;
  height: 40px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
}
.btn-nobtn {
  background-color: transparent;
  border: none;
  padding: 0;
}
.btn-heal {
  border: 2px solid green;
  width: 100%;
}
.btn-damage {
  border: 2px solid red;
  width: 100%;
}
.btn-reset {
  border: 2px solid gray;
  width: 80px;
}
